.vizh-code table td {
    font-size: 5px;
}

.vizh-code table .vish-table-modal td {
    font-size: 10px;
}

.vizh-code table td {
    padding: 1px;
}

.matrix {
    margin-right: 0px;
}

table td {
    background-color: azure;
}

table .main {
    background-color: blueviolet;
}

.hovered_element {
    background-color: rgba(231, 164, 76, 0.377);
    cursor: pointer;
}
.hovered_element > td {
    background-color: rgba(231, 164, 76, 0.147);
    cursor: pointer;
}
table {
    border-collapse: collapse;
}

.result-vizh {
    padding: 0
}

.code-block {
    background-color: ghostwhite;
    border-radius: 2px;
    padding: 5px;
    word-break: break-all;
}

.code-block p {
    font-weight: bold;
}

.modal-footer {
    word-break: break-all;
}